/* -----------------------Variables-------------------------
------------------------------------------------------------
---------------------------------------------------------- */

:root {
  /* body */
  --body-white: #ffffff;
  --body-black: #000000;
  --body-bluelight: #32425c;
  --body-bluedark: #293449;
  --body-red: #ee3643;
  --body-green: #63a63e;
  --body-greylight: #f1f5f7;
  --body-greymiddle: #f9f5f0;
  --body-border: 1px solid #eaeaea;
  --body-shadow-grey: drop-shadow(0 4px 20px rgba(0, 0, 0, 0.15));

  /* header */
  --header-basic: #f3f7f9;
  --header-blue-shadow: 0px 5px 0 0 #293449;
  --header-red-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24), 0px 5px 0 0 #ee3643;
  --header-border: 3px solid #ffffff;

  /* catalog */
  --catalog-yellow: #ffbf47;
  --catalog-blue: #3bbce3;
  --catalog-lilac: #dc91d8;
  --catalog-green: #8ed78f;
  --catalog-yellowlight: #ffc047;
  --catalog-btn: rgba(255, 255, 255, 0.3);
  --catalog-slider: rgba(0, 0, 0, 0.25);

  /* page-catalog */
  --catalog-perforators-basic: #f2f6f8;

  /* products */
  --products-grey: #a9a9a9;
  --products-btn-border: 3px solid #63a63e;
  --products-btn-shadow: inset 0 -3px 0 0 #367315;

  /* services */
  --services-shadow: inset 0 -1px 0 0 #293449, inset 0 1px 0 0 #405069;

  /* about */
  --about-grey: #f4f4f4;
  --about-border-grey: #a9a9a9;

  /* pagination */
  --btn-border: 1px solid #e5e5e5;

  /* sorty */
  --sorty-basic: #f7f3ec;

  /* form */
  --form-grey: #c5c5c5;
  --form-check: 0 3px 0 0 #ffffff, inset 0 -3px 0 0 #ffffff;

  /* form slider */
  --slider-scale: #d7dcde;
  --slider-toggle-border: 8px solid #ffffff;
  --slider-toggle-point: #ababab;
  --slider-toggle-shadow: 0 4px 4px 0 #ababab;
  --slider-controls: #444444;

  /* footer*/
  --footer-yellow: #ffd180;
  --footer-gradient-blue: linear-gradient(0deg, #212a3a, #212a3a);

   /* popup*/
   --popup-gray: #f1f1f1;

  /* hover */
  --hover-red: #ca2c37;
  --hover-green: #5fbb2d;
  --hover-catalog-btn: rgba(197, 197, 197, 0.3);
  --hover-registration: #3d546f;
  --hover-select: #b5b5b5;

  /* click */
  --click-red: #ba2732;
  --click-blue: #161d29;
  --click-main-nav: #1d2739;
  --click-red-shadow: 0px 5px 0 0 rgba(0, 0, 0, 0.24), 0px 5px 0 0 #ba2732;
  --click-cart-btn: #518534;
  --click-catalog-btn: rgba(169, 169, 169, 0.3);
}

/* -------------------------Global--------------------------
------------------------------------------------------------
---------------------------------------------------------- */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page-body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--body-black);
  background-color: var(--body-white);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
  min-height: 100%;
}

.container {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--body-white);
}

img {
  max-width: 100%;
  height: auto;
}

/* -----------------------Общие стили-----------------------
---------------------------------------------------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.user-menu__list,
.regiatration-list,
.user-bar__list,
.nav__list,
.slider__list,
.product-card,
.manufacturers__list,
.services__list,
.about__list,
.popup-contact__list,
.footer-nav__list,
.footer-nav__catalog,
.footer-social,
.footer-links,
.breadcrumbs-list,
.form-manufacturer__list,
.form-supply__list,
.sorty__list,
.sorty__arrow,
.product-card__list,
.pagination-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.middle-title {
  font-size: 24px;
  line-height: 30px;
  color: var(--body-white);
  margin: 0;
}

.name-product {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 20px;
}

.marker {
  position: absolute;
  content: "";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--body-white);
  text-decoration: none;
  text-transform: uppercase;
  height: 30px;
  background-color: var(--body-red);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  padding-top: 8px;
}

.button {
  font-size: 14px;
  line-height: 18px;
  color: var(--body-white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--body-red);
  border: none;
  display: block;
  padding: 10px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--click-red);
}

.legend-title{
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  width: 100%;
}

/* --------------------Стилизация header--------------------
---------------------------------------------------------- */

.page-header {
  background-color: var(--header-basic);
  padding-bottom: 65px;
}

.page-header__wrap {
  background-color: var(--body-bluedark);
}

/* ----user menu---- */

.user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.user-menu__logo {
  text-align: center;
  background: var(--body-red);
  -webkit-box-shadow: var(--header-red-shadow);
  box-shadow: var(--header-red-shadow);
  width: 220px;
  height: 42px;
  padding-top: 12px;
  cursor: pointer;
}

.form-search {
  position: relative;
  height: 42px;
}

.form-search__input {
  display: block;
  background-color: transparent;
  border: none;
  width: 282px;
  height: 100%;
  padding-left: 42px;
  cursor: pointer;
}

.form-search__input::-webkit-input-placeholder {
  color: var(--body-white);
  opacity: 1;
}

.form-search__input::-moz-placeholder {
  color: var(--body-white);
  opacity: 1;
}

.form-search__input:-ms-input-placeholder {
  color: var(--body-white);
  opacity: 1;
}

.form-search__input::-ms-input-placeholder {
  color: var(--body-white);
  opacity: 1;
}

.form-search__input::placeholder {
  color: var(--body-white);
  opacity: 1;
}

.form-search__svg {
  position: absolute;
  content: "";
  opacity: 0.3;
  top: 12px;
  left: 17px;
}

/* ----header-links---- */

.user-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  max-width: 438px;
}

.user-menu__item{
  width: 150px;
}

.user-menu__item:nth-child(n+3){
  text-align: center;
}

.user-menu__item:nth-of-type(2) {
  width: 136px;
}

.user-menu__item--order {
  background: var(--body-green);
}

.user-menu__link {
  position: relative;
  display: block;
  height: 100%;
  padding-top: 10px;
}

.user-menu__link--bookmark {
  padding-left: 29px;
}

.user-menu__link--cart {
  padding-left: 35px;
}

.user-menu__link::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  opacity: 0.3;
  top: 13px;
}

.user-menu__link--bookmark::before {
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  left: 6px;
}

.user-menu__link--cart::before {
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  left: 12px;
}

/* ----header-info---- */

.info-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 46px 0 39px 30px;
}

.info-bar__text {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--body-red);
  width: 26%;
  padding-right: 15px;
  margin: 0;
}

.info-bar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 30%;
}

.info-bar__tel {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--body-red);
  border: var(--header-border);
  padding: 4px 40px 4px 71px;
  background: url("../img/icon-phone.svg") no-repeat center left 37px;
}

.info-bar__address {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  color: var(--body-bluelight);
  margin-top: 5px;
}

.registration {
  font-size: 21px;
  line-height: 21px;
  width: 32.7%;
}

.regiatration-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  padding-left: 15px;
}

.regiatration-list__item {
  background-color: var(--body-white);
}

.regiatration-list__link {
  position: relative;
  color: var(--body-black);
  display: block;
  padding: 12px 24px;
}

.regiatration-list__link--exit {
  padding-left: 20px;
  padding-right: 29px;
}

.user-bar__wrap {
  background-color: var(--body-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-bar__profile {
  position: relative;
  color: var(--body-black);
  padding-left: 56px;
  margin: 12px 0;
}

.user-bar__profile svg {
  position: absolute;
  top: 1px;
  left: 14px;
}

.user-bar__logout {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-top: 1px;
  margin-left: 20px;
  cursor: pointer;
}

.user-bar__links {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  margin-top: 6px;
}

.user-bar__links a {
  position: relative;
  color: var(--body-bluelight);
}

.user-bar__links a:not(:first-child) {
  margin-left: 29px;
}

.user-bar__order::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  top: 7px;
  right: -19px;
}

.user-bar__account::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: currentColor;
  border-radius: 50%;
  top: 7px;
  left: -19px;
}

/* ----navigation---- */

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--body-bluelight);
  -webkit-box-shadow: var(--header-blue-shadow);
  box-shadow: var(--header-blue-shadow);
  padding: 0 25px;
}

.nav__link {
  display: block;
  padding: 17px 28px 14px 28px;
}

/* ----STYLEGUIDE ШАПКИ----
---------------------------*/

.user-menu__logo:active {
  background-color: var(--click-red);
  -webkit-box-shadow: var(--click-red-shadow);
  box-shadow: var(--click-red-shadow);
}

.form-search__input:hover {
  fill: var(--body-white);
}

.form-search__input:focus,
.form-search__input:active {
  background-color: var(--body-white);
}

.form-search__input:focus::-webkit-input-placeholder, .form-search__input:active::-webkit-input-placeholder {
  color: var(--body-black);
}

.form-search__input:focus::-moz-placeholder, .form-search__input:active::-moz-placeholder {
  color: var(--body-black);
}

.form-search__input:focus:-ms-input-placeholder, .form-search__input:active:-ms-input-placeholder {
  color: var(--body-black);
}

.form-search__input:focus::-ms-input-placeholder, .form-search__input:active::-ms-input-placeholder {
  color: var(--body-black);
}

.form-search__input:focus::placeholder,
.form-search__input:active::placeholder {
  color: var(--body-black);
}

.form-search:hover .form-search__svg {
  opacity: 1;
}

.form-search__input:focus + .form-search__svg path,
.page-header__form-input:active + .form-search__svg path {
  fill: var(--body-red);
}

.user-menu__item:active:not(.user-menu__item--order):not(.active) {
  background-color: var(--click-blue);
}

.user-menu__item.active {
  background: var(--body-red);
}

.user-menu__item--order:hover,
.user-menu__item--order:focus {
  background-color: var(--hover-green);
}

.user-menu__item--order:active {
  background-color: var(--body-green);
}

.user-menu__item span:active {
  opacity: 0.5;
}

.user-menu__link:hover::before,
.user-menu__link:focus::before {
  opacity: 1;
}

.user-menu__link:active::before {
  opacity: 0.3;
}

.regiatration-list__link:hover,
.regiatration-list__link:focus {
  color: var(--body-red);
}

.user-bar__links a:hover,
.user-bar__links a:focus {
  color: var(--body-red);
  z-index: 1;
}

.regiatration-list__link:active,
.user-bar__profile:active,
.user-bar__links a:active  {
  color: var(--form-grey);
}

.regiatration-list__link:hover path,
.regiatration-list__link:focus path,
.user-bar__profile:hover path,
.user-bar__profile:focus path,
.user-bar__logout:hover path,
.user-bar__logout:focus path {
  fill: var(--hover-registration);
}

.regiatration-list__link:active path,
.user-bar__profile:active path,
.user-bar__logout:active path {
  fill: var(--form-grey);
}

.nav__item:hover,
.nav__item:focus {
  background-color: var(--body-bluedark);
}

.nav__item:active {
  background-color: var(--click-main-nav);
}

.nav__link:active {
  opacity: 0.5;
}

/* ---------------------Стилизация main---------------------
---------------------------------------------------------- */

/* ---Catalog--- */

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 59px;
  margin-bottom: 59px;
}

.catalog__item {
  position: relative;
  padding: 21px 100px 21px 22px;
}

.marker-new::after {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background: url("../img/marker-new.png") no-repeat center;
  top: 0;
  right: 0;
  z-index: 4;
}

.catalog__item--materials {
  background-color: var(--catalog-yellow);
}

.catalog__item--materials::before {
  position: absolute;
  content: "";
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-materials.svg");
  top: 31px;
  right: 43px;
}

.catalog__item--tools {
  background-color: var(--catalog-blue);
}

.catalog__item--tools::before {
  position: absolute;
  content: "";
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-tools.svg");
  top: 34px;
  right: 31px;
}

.catalog__item--technics {
  background-color: var(--catalog-lilac);
}

.catalog__item--technics::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-technics.svg");
  top: 31px;
  right: 31px;
}

.catalog__item--discounts {
  grid-column: 3/-1;
  background-color: var(--catalog-green);
}

.catalog__item--discounts::before {
  position: absolute;
  content: "";
  width: 59px;
  height: 72px;
  background-image: url("../img/icon-discounts.svg");
  top: 27px;
  right: 45px;
}

.catalog__item--delivery {
  grid-column: 3/-1;
  background-color: var(--catalog-yellowlight);
}

.catalog__item--delivery::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
  top: 32px;
  right: 31px;
}

.catalog__title {
  margin-bottom: 13px;
}

.catalog__link {
  background-color: var(--catalog-btn);
  width: 135px;
}

.slider {
  position: relative;
  color: var(--body-white);
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.slider__item {
  display: none;
  font-size: 18px;
  line-height: 24px;
}

.slider__item.active {
  display: block;
}

.slider__img {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--body-bluelight);
  z-index: -1;
}

.slider__info {
  background-color: var(--catalog-slider);
  padding: 24px 24px 8px 24px;
}

.slider__title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.slider__text {
  margin: 6px 0;
}

.slider__link {
  max-width: 192px;
  margin: 97px 24px 10px 24px;
}

.slider__arrow {
  position: absolute;
  border: solid var(--body-white);
  border-width: 3px 3px 0 0;
  width: 27px;
  height: 27px;
  background: transparent;
  top: 129px;
  cursor: pointer;
}

.slider__arrow--left {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 30px;
}

.slider__arrow--right {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 26px;
}

.slider__paginations {
  position: absolute;
  bottom: 36px;
  left: 47.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30px;
}

.slider__pagination {
  width: 10px;
  height: 10px;
  background-color: var(--body-white);
  border: 2px solid var(--body-white);
  padding: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slider__paginations .active {
  background-color: var(--body-red);
}

/* ---STYLEGUIDE КАТАЛОГА---
---------------------------*/

.catalog__link:hover,
.catalog__link:focus {
  background-color: var(--hover-catalog-btn);
}

.catalog__link:active {
  background-color: var(--click-catalog-btn);
}

/* ---Products--- */

.products__info,
.manufacturers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--body-greymiddle);
  padding-left: 28px;
  padding-right: 14px;
  margin-bottom: 20px;
}

.products__info-title,
.manufacturers__info-title {
  color: var(--body-bluelight);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.products__info-link,
.manufacturers__info-link {
  margin: 25px 0;
  width: 192px;
}

.product-card,
.page-catalog__result-perforators {
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
}

.product-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card__item {
  position: relative;
  background-color: var(--body-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: var(--body-border);
}

.product-card__photo {
  position: relative;
  z-index: 3;
}

.product-card__img {
  display: block;
}

.product-card__img img {
  display: block;
}

.product-card__btns {
  position: absolute;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  background-color: var(--body-white);
  top: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__buy {
  position: relative;
  color: var(--body-white);
  text-transform: uppercase;
  background-color: var(--body-green);
  -webkit-box-shadow: var(--products-btn-shadow);
  box-shadow: var(--products-btn-shadow);
  border: none;
  border-radius: 2px;
  width: 135px;
  padding: 11px 6px 10px 18px;
  margin-top: 38px;
  cursor: pointer;
}

.product-card__buy::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
  left: 29px;
}

.product-card__tab {
  color: var(--body-bluelight);
  text-transform: uppercase;
  border: var(--products-btn-border);
  border-radius: 2px;
  width: 135px;
  padding: 8px 10px;
  margin: 8px auto;
  cursor: pointer;
}

.product-card__title {
  margin: 10px 17px 5px 17px;
}

.product-card__title-link {
  color: var(--body-black)
}

.product-card__old {
  position: absolute;
  font-size: 17px;
  line-height: 18px;
  color: var(--products-grey);
  text-decoration: line-through;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  bottom: 63px;
}

.product-card__price {
  font-size: 17px;
  line-height: 18px;
  color: var(--body-white);
  background-color: var(--body-red);
  -webkit-clip-path: polygon(0% 0%, 86% 0%, 100% 50%, 86% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 86% 0%, 100% 50%, 86% 100%, 0% 100%);
  border: none;
  border-radius: 3px;
  width: 141px;
  padding: 10px 10px 10px 0;
  margin: 34px 10px 21px 45px;
}

.product-card__cost {
  margin-right: 5px;
}

/* ----STYLEGUIDE ТОВАРА----
---------------------------*/

.product-card__item:hover,
.product-card__item:focus {
  -webkit-filter: var(--body-shadow-grey);
  filter: var(--body-shadow-grey);
}

.product-card__item:hover .product-card__btns,
.product-card__item:focus .product-card__btns {
  opacity: 1;
}

.product-card__buy:hover,
.product-card__buy:focus {
  background-color: var(--hover-green);
}

.product-card__buy:active {
  background-color: var(--click-cart-btn);
}

.product-card__tab:hover,
.product-card__tab:focus {
  border-color: var(--body-bluelight);
}

.product-card__tab:active {
  opacity: 0.5;
}

/* Manufacturers */

.manufacturers {
  margin-top: 70px;
}

.manufacturers__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.manufacturers__item {
  position: relative;
  background-color: var(--body-white);
  border: var(--body-border);
  height: 145px;
}

.manufacturers__link {
  width: 100%;
  height: 100%;
  display: block;
}

.manufacturers__link img{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* STYLEGUIDE ПРОИЗВОДИТЕЛЕЙ
---------------------------*/

.manufacturers__item:hover,
.manufacturers__item:focus {
  -webkit-filter: var(--body-shadow-grey);
  filter: var(--body-shadow-grey);
}

.manufacturers__item:active {
  opacity: 0.5;
}

/* ---services--- */

.services {
  background-color: var(--body-greylight);
  padding-top: 64px;
  padding-bottom: 51px;
  margin-top: 70px;
}

.services__title,
.services__name {
  margin: 0;
}

.services__text,
.services__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.services__text {
  width: 44%;
  margin-top: 25px;
}

.services__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.services__btns {
  position: relative;
  width: 240px;
  padding: 48px 0;
}

.services__btns::after {
  position: absolute;
  content:"";
  background: url("../img/layer.png") center no-repeat;
  width: 10px;
  height: 279px;
  top: 0;
  right: 0;
}

.services__btn {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
  border: none;
  width: 240px;
  padding: 13px 22px 18px 22px;
  color: var(--body-white);
  background-color: var(--body-bluelight);
  -webkit-box-shadow: var(--services-shadow);
  box-shadow: var(--services-shadow);
  cursor: pointer;
}

.services__item {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-right: 308px;
  margin-left: 80px;
  display: none;
}

.services__item.active {
  display: block;
}

.services__item--delivery {
  padding-right: 345px;
}

.services__name {
  color: var(--body-bluelight);
  margin-top: 45px;
  margin-bottom: 26px;
}

.services__info {
line-height: 24px;
margin-bottom: 28px;
}

.services__item::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.services__item--delivery::before {
  width: 468px;
  height: 261px;
  background: url("../img/delivery.png") top 20px center;
  right: 0;
}

.services__item--guarantee::before {
  width: 389px;
  height: 283px;
  background: url("../img/guarantee.png") top center;
  right: -8px;
}

.services__item--credit::before {
  width: 465px;
  height: 285px;
  background-image: url("../img/credit.png");
  right: -45px;
}

.services__btn-credit {
  width: 195px;
  border-radius: 3px;
}

/* ----STYLEGUIDE СЕРВИС----
---------------------------*/

.services__btn:not(.active):hover,
.services__btn:not(.active):focus {
  background-color: var(--body-bluedark);
}

.services__btn:not(.active):active{
  color: var(--body-bluelight);
  background-color: var(--body-white);
}

.services__btn.active {
  color: var(--body-bluelight);
  background-color: var(--body-white);
}

/* ---about--- */

.about {
  margin: 70px 0;
}

.about__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about__company {
  width: 50%;
}

.about__contact {
  width: 32%;
}

.about__title {
  margin: 0;
}

.about__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  margin: 0;
  margin-top: 25px;
}

.about__list {
  margin-top: 3px;;
}

.about__item {
  position: relative;
  padding-left: 37px;
  margin-bottom: 12px;;
}

.about__item::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--body-red);
  top: 11px;
  left: 0;
}

.about__link {
  margin-top: 19px;
  width: 220px;
}

.about__map {
  display: block;
  background-color: var(--body-bluelight);
  margin-top: 32px;
  margin-bottom: 25px;
  width: 300px;
  height: 158px;
}

.about__open-btn {
  width: 300px;
}

/* --------------------Стилизация footer--------------------
---------------------------------------------------------- */

.page-footer {
  color: var(--body-white);
}

.page-footer__top {
  background-color: var(--body-bluelight);
  padding-bottom: 53px;
}

.page-footer__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 35%;
}

.page-footer__address {
  font-style: normal;
  margin-top: 17px;
  margin-left: 3px;
}

.page-footer__tel {
  margin-left: 4px;
}

.footer-nav {
  width: 60%;
  padding-left: 18px;
}

.footer-nav__list,
.footer-nav__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.footer-nav__list {
  margin-top: 38px;
}

.footer-nav__item:not(:nth-child(5)),
.footer-nav__catalog-item:not(:nth-child(4)) {
  margin-right: 58px;
}

.footer-nav__catalog {
  padding-left: 25px;
  margin-top: 34px;
}

.footer-nav__catalog-click {
  color: var(--footer-yellow);
}

.page-footer__bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--body-bluedark);
  padding-top: 35px;
  padding-bottom: 27px;
}

.page-footer__copyright {
  width: 25%;
  margin-left: 1px;
  margin-right: 34px;;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20%;
}

.footer-social__item {
  position: relative;
  background: var(--footer-gradient-blue);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
}

.footer-social__item:not(:last-child) {
  margin-right: 2px;
}

.footer-social__link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 31.7%;
}

.footer-links__item:not(:last-child) {
  margin-right: 51px;
}

.footer-links__title {
  margin: 0;
}

.footer-links__text {
  color: var(--footer-yellow);
  cursor: pointer;
}

/* ---STYLEGUIDE ПОДВАЛА---
---------------------------*/

.footer-nav__click:hover,
.footer-nav__click:focus,
.footer-nav__catalog-click:hover,
.footer-nav__catalog-click:focus {
  border-bottom: 1px solid currentColor;
}

.footer-nav__click:active,
.footer-nav__catalog-click:active {
  opacity: 0.5;
  border: none;
}

.footer-social__item:hover,
.footer-social__item:focus,
.footer-social__item:active {
  background: var(--body-red);
}
.footer-links__text:hover {
  border-bottom: 1px solid currentColor;
}

.footer-links__text:active {
  color: var(--body-red);
  border: none;
}

/* --------Стилизация второй страницы - инструменты---------
---------------------------------------------------------- */

.catalog-perforators {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 220px 20px auto;
  grid-template-columns: 220px auto;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 49px;
}

/* ------------------------breadcrumbs---------------------- */

.breadcrumbs-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.breadcrumbs-list__item {
  position: relative;
  padding-right: 41px;
}

.breadcrumbs-list__item a{
  color: var(--body-black);
}

.breadcrumbs-list__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: url("../img/icon-right-small.svg") no-repeat center;
  top: 3px;
  right: 16px;
}

.catalog-perforators__title {
  display: -ms-grid;
  display: grid;
  grid-column: 1/-1;
  background: var(--catalog-perforators-basic);
  padding: 30px;
  margin: 0;
}

/* ---------------------form--------------------- */

.catalog-perforators__filter {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-perforators__filter-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  background-color: var(--sorty-basic);
  border-radius: 2px;
  padding: 10px 20px;
  margin: 0;
}

.form__topic {
  font-size: 15px;
  line-height: 19px;
  padding: 0;
  margin: 0;
  border: none;
}

.form-slider__legend  {
  padding: 12px 0;
}

/* -------form slider------ */

.form-slider__bar {
  position: relative;
  background-color: var(--sorty-basic);
  border-radius: 2px;
  width: 220px;
  height: 80px;
  padding: 39px 20px;
}

.form-slider__scale {
  position: relative;
  background: var(--slider-scale);
  width: 180px;
  height: 2px;
}

.form-slider__scale::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 2px;
  background: var(--body-green);
  left: 0;
}

.form-slider__toggle {
  position: absolute;
  content: "";
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: var(--slider-toggle-border);
  border-radius: 50%;
  background-color: var(--slider-toggle-point);
  -webkit-box-shadow: var(--slider-toggle-shadow);
  box-shadow: var(--slider-toggle-shadow);
  width: 4px;
  height: 4px;
  top: -9px;
  left: 45%;
  cursor: pointer;
}

.form-slider__toggle--min {
  left: 0;
}

.form-slider__toggle--max {
  left: 77%;
}

.form-slider__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.form-slider__label {
  position: relative;
  line-height: 0px;
  cursor: pointer;
}

.form-slider__label--min::before {
  position: absolute;
  content: "";
  background: var(--slider-controls);
  width: 10px;
  height: 2px;
  top: 28px;
  left: 105px;
}

.form-slider__input {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: var(--sorty-basic);
  width: 95px;
  border: 1px solid var(--sorty-basic);
  border-radius: 2px;
  padding: 10px 0;
  margin-top: 9px;
}

.form-slider__input--min {
  margin-right: 30px;
}

/* --manufacturer/supply-- */

.form-manufacturer {
  padding-bottom: 8px;
}

.form-manufacturer__legend,
.form-supply__legend {
  border-top: var(--body-border);
}

.form-manufacturer__legend {
  padding-top: 15px;
  padding-bottom: 18px;
}

.form-supply__legend {
  padding-top: 17px;
  padding-bottom: 25px;
}

.form-manufacturer__item,
.form-supply__item {
  margin-bottom: 20px;
}

.form-manufacturer__label,
.form-supply__label {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}

.form-manufacturer__input,
.form-supply__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-manufacturer__input + .form-manufacturer__label::before {
  position: absolute;
  content: "";
  border: 2px solid var(--form-grey);
  border-radius: 3px;
  width: 23px;
  height: 23px;
  top: -4px;
  left: 0;
}

.form-manufacturer__input + .form-manufacturer__label::after {
  position: absolute;
  content: "";
  border: solid var(--form-grey);
  border-width: 0 0 4px 4px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 19px;
  height: 9px;
  top: 0px;
  left: 7px;
  -webkit-box-shadow: var(--form-check);
  box-shadow: var(--form-check);
  display: none;
}

.form-supply__input + .form-supply__label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border: 4px solid var(--form-grey);
  border-radius: 50%;
  top: -4px;
  left: 0;
}

.form-supply__input + .form-supply__label::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background: var(--form-grey);
  border-radius: 50%;
  top: 4px;
  left: 8px;
  display: none;
}

.form-manufacturer__input:checked + .form-manufacturer__label::after,
.form-supply__input:checked + .form-supply__label::after {
  display: block;
}

.form__btn {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: var(--btn-border);
  background: transparent;
  width: 100%;
  padding: 9px;
  margin-top: 19px;
  cursor: pointer;
}

/* --catalog-result-- */

.sorty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background: var(--sorty-basic);
  border-radius: 2px;
  padding: 6px 15px 7px 20px;
  margin-bottom: 27px;
}

.sorty__title,
.sorty__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--body-black);
  text-transform: uppercase;
  vertical-align: middle;
}

.sorty__title {
  width: 33%;
}

.sorty-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 67%;
}

.sorty__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 89%;
}

.sorty__item:not(:nth-child(3)) {
  margin-right: 70px;
}

.sorty__link {
  opacity: 0.3;
  border-bottom: 1px dotted var(--body-red);
}

.sorty__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 10%;
}

.sorty__arrow-item:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 21px;
}

.product-card__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 20px;
}

.page-tools__info {
  padding-top: 64px;
  padding-bottom: 68px;
  background: var(--body-greylight);
}

.pagination-list {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 47px;
}

.pagination-list__item {
  margin-bottom: 10px;
}

.pagination-list__item:not(:last-child) {
  margin-right: 9px;
}

.pagination-list__item:last-child {
  width: 140px;
}

.pagination-list__link {
  color: var(--body-black);
  display: block;
  border: var(--btn-border);
  border-radius: 2px;
  padding: 9px 15px;
}

.pagination-list__link.active {
  color: var(--body-white);
  background-color: var(--body-red);
  border: 1px solid var(--body-red);
}

.perforators-promo {
  background-color: var(--body-greylight);
  padding-top: 40px;
  padding-bottom: 57px;
}

.perforators-promo__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  padding-right: 25px;
}

/* ---STYLEGUIDE КАТАЛОГА--
---------------------------*/

.form-manufacturer__input:hover + .form-manufacturer__label::before,
.form-manufacturer__input:focus + .form-manufacturer__label::before,
.form-manufacturer__input:hover + .form-manufacturer__label::after,
.form-manufacturer__input:focus + .form-manufacturer__label::after,
.form-supply__input:hover + .form-supply__label::before,
.form-supply__input:focus + .form-supply__label::before {
  border-color: var(--hover-select);
}

.form-supply__input:hover + .form-supply__label::after,
.form-supply__input:focus + .form-supply__label::after {
  background-color: var(--hover-select);
}

.form-manufacturer__input:disabled + .form-manufacturer__label::before,
.form-manufacturer__input:disabled + .form-manufacturer__label::after,
.form-supply__input:disabled + .form-supply__label::before,
.form-supply__input:disabled + .form-supply__label::after,
.form-manufacturer__input:disabled + .form-supply__label,
.form-supply__input:disabled + .form-supply__label {
  opacity: 0.4;
}

.sorty__link:not(.active):hover,
.sorty__link:not(.active):focus {
  opacity: 1;
  border-bottom-style: solid;
}

.sorty__link:not(.active):active {
  color: var(--body-red);
  border-bottom: 1px solid transparent;
}

.sorty__link.active {
  opacity: 1;
  color: var(--body-red);
  border: none;
}

.sorty__arrow-item:not(.active):hover path,
.sorty__arrow-item:not(.active):focus path {
  fill: var(--body-black);
}

.sorty__arrow-item:not(.active):active path {
  fill: var(--body-red);
}


.sorty__arrow-item.active path{
  fill: var(--body-red);
}

.form__btn:hover,
.form__btn:focus,
.pagination-list__link:not(.active):hover,
.pagination-list__link:not(.active):focus {
  border-color: var(--form-grey);
}

.form__btn:active,
.pagination-list__link:not(.active):active {
  border-color: var(--body-red);
}

/* ---------------------Модельные окна----------------------
---------------------------------------------------------- */

/* ---Форма связи--- */

.popup {
  position: fixed;
  display: none;
  -webkit-filter: var(--body-shadow-grey);
  filter: var(--body-shadow-grey);
  border-top: 7px solid var(--body-red);
  top: 50%;
  bottom: auto;
  right: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  z-index: 10;
}

.popup-contact {
  background: var(--body-white);
  width: 620px;
  border-top: 7px solid var(--body-red);
}

.popup-contact__form {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.popup-contact__wrap {
  padding: 0 80px;
}

.popup-contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 41px;
  margin-bottom: 14px;
}

.popup-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 220px;
}

.popup-contact__label {
  margin-bottom: 10px;
}

.popup-contact__input,
.popup-contact__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--about-border-grey);
  border: 2px solid var(--form-grey);
}

.popup-contact__input {
  padding: 9px 12px;
}

.popup-contact__input::-webkit-input-placeholder {
  color: var(--about-border-grey);
}

.popup-contact__input::-moz-placeholder {
  color: var(--about-border-grey);
}

.popup-contact__input:-ms-input-placeholder {
  color: var(--about-border-grey);
}

.popup-contact__input::-ms-input-placeholder {
  color: var(--about-border-grey);
}

.popup-contact__input::placeholder {
  color: var(--about-border-grey);
}

.popup-contact__textarea {
  border: 2px solid var(--form-grey);
  width: 100%;
  padding: 9px 0 74px 10px;
  padding-bottom: 74px;
  margin-top: 11px;
  margin-bottom: 28px;
  resize: none;
}

.popup-contact__textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.popup-contact__textarea:focus::-moz-placeholder {
  color: transparent;
}

.popup-contact__textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.popup-contact__textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.popup-contact__textarea:focus::placeholder {
  color: transparent;
}

.popup-contact__wrap-grey {
  padding: 37px 80px;
  background-color: var(--about-grey);
}

.popup-contact__btn {
  width: 100%;
}

.popup-contact__show {
  display: block;
}

.btn-close {
  position: absolute;
  content: "";
  background: url("../img/icon-close.svg") center no-repeat;
  border: none;
  width: 21px;
  height: 21px;
  top: 14px;
  right: 11px;
  cursor: pointer;
}

/* ---Карта--- */

.popup-map {
  width: 943px;
  height: 449px;
}

.popup-map iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.popup-map__show {
  display: block;
}

/* ---Всплыающее окно - уведомление о добавлении товара--- */

.popup-cart {
  width: 620px;
  background-color: var(--body-white);
}

.popup-cart__title {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  margin: 67px auto;
}

.popup-cart__title::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--body-green);
  top: -15px;
  left: 81px;
}

.popup-cart__title::after{
  position: absolute;
  content: "";
  border: solid var(--body-white);
  border-width: 0 0 5px 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 38px;
  height: 20px;
  top: 5px;
  left: 96px;
}

.popup-cart__show {
  display: block;
}

.popup-cart__btn {
  background-color: var(--popup-gray);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
  padding: 37px 0;
}

.popup-cart__btn-form,
.popup-cart__btn-next {
  width: 192px;
}

.popup-cart__btn-form {
  margin-right: 10px;
}

.popup-cart__btn-next {
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: var(--body-white);
}
